<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8"/>
    <meta name="name" content="Music_index"/>
    <meta name="description" content="This is a test page for Music programme dev!"/>
    <link href="style.css" rel="stylesheet">
    <link href="../../../static/format.ico" rel="icon" type="x-icon">
    <title>Playlist Home Page</title>
</head>

<body>
<h1>Welcome to Wang's Playlist!</h1>
<div class="accStatus">
    <p>登陆状态:</p>
    <pre>未登录</pre>
</div>
<div class="searchForSongs">
    <form>
        <label for="keywords">Search for songs</label>
        <input id="keywords" name="keywords" type="text" required>
        <button type="button" id="search">Search</button>
    </form>
</div>
<div class="login">
    <form>
        <ul>
            <li>
                <label for="tel">phoneNum:</label>
                <input type="tel" id="tel" name="tel" placeholder="Input your Netease account's phone number"
                       autofocus required pattern="[0-9]+" minlength="11" maxlength="11">
            </li>
            <li>
                <label for="passwd">passwd:</label>
                <input type="password" id="passwd" name="passwd" required>
            </li>
            <li class="button">
                <button type="button" id="submit">Log in</button>
            </li>

        </ul>
    </form>
</div>
<div class="searchResult"></div>
</body>
<script type="module" src="main.js"></script>

</html>
